@import '../../style/variables.scss';

button {
    border: none;
    background-color: white;
    color: #311b92;
    font-size: 20px;
    cursor: pointer;
}
.line-log {
    margin-top: 0;
    margin-left: 0;
    border: none;
    width: 50%;
    background-color: $pink;
    height: 2px;
}