@import '../../style/variables.scss';

.modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.modal_content {
    height: 90px;
    width: 450px;
    background-color: white;
    transform: scale(1);
    z-index: 2;
}
.name {
    padding: 10px;
    color: $pink;
}
.description {
    padding-left: 10px;
    color: grey;
    font-size: 13px;
}
.close {
    position: relative;
    top: 18px;
    left: 410px;
    font-size: 10px;
    color: $blue;
    cursor: pointer;
}